<h1>Robots Collection</h1>
<div class="row" *ngFor="let chunck of robots">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 card-wrapper" *ngFor="let robot of chunck">
    <div class="card" [style.background-image]="'url(' + robot.photo +')'">
      <div class="delete-btn">
        <button class="btn btn-danger" (click)="delete(robot.id)"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{robot.name}}</h3>
        <p class="card-text">{{robot.description}}</p>
        <h5 class="card-price">€{{robot.price}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom:10px">
  <div class="col-xs-12 card-load">
    <button class="btn btn-default" type="button" (click)="loadMore()">Load More...</button>
  </div>
</div>
