.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  height: 35rem;
  margin-bottom: 20px;
  background-repeat:no-repeat;
  background-position:top;
}

.card-wrapper {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.card:hover .card-text {
  white-space:unset;
}

.card:hover .delete-btn {
  display:flex;
}

.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
}

.card-title {
  margin-bottom: .75rem;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-price {
  font-weight:600
}

.delete-btn {
  display:none;
  justify-content:flex-end;
  margin: 0.2rem;
}

.card-load {
  display: flex;
  justify-content:center;
}
