
<h2>New Robot</h2>
<form #createForm="ngForm" (ngSubmit)="create(createForm)">
  <label for="name">Name</label>
  <div class="input-group" style="width:100%; margin-bottom:5px">
    <input name="name" ngModel type="text" class="form-control" id="name" aria-describedby="basic-addon3">
  </div>
  <label for="desc">Description</label>
  <div class="input-group" style="width:100%; margin-bottom:5px">
    <input name="desc" ngModel type="text" class="form-control" id="desc" aria-describedby="basic-addon3">
  </div>
  <label for="price">Price</label>
  <div class="input-group" style="width:100%; margin-bottom:5px">
    <input name="price" ngModel type="number" class="form-control" id="price" aria-label="price">
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
